 .u-section-1 {
  min-height: 2160px;
}

.u-section-1 .u-image-1 {
  object-position: 50% 0%;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 1656px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 1267px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 949px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 100vh;
  }

  .u-section-1 .u-image-1 {
    left: auto;
    right: auto;
  }
}